* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  list-style: none;
}

:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --gray-cyan-4: hsl(186, 14%, 43%);
  --gray-cyan-3: hsl(184, 14%, 56%);
  --gray-cyan-2: hsl(185, 41%, 84%);
  --gray-cyan-1: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --container-radius: 24px;
}

input {
  caret-color: var(--primary-cyan);
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

body {
  background: var(--gray-cyan-2);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header {
  letter-spacing: 5px;
  text-align: center;
  padding: 2rem 0;
}

.top-header h1 {
  font-size: 24px;
}

.container {
  background: var(--white);
  border-top-left-radius: var(--container-radius);
  border-top-right-radius: var(--container-radius);
  padding: 24px;
}

@media (min-width: 1024px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    border-radius: var(--container-radius);
    max-width: 920px;
    height: 480px;
  }
}

.sections,
.result {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.section {
  margin-bottom: 20px;
  position: relative;
}

.section .header {
  color: var(--dark-cyan);
  margin-bottom: 8px;
}

.section .input-group {
  position: relative;
}

.section .input-group .input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: var(--gray-cyan-1);
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
  color: var(--dark-cyan);
  font-size: 24px;
  text-align: right;
}

.section .input-group .input:focus {
  -webkit-box-shadow: 0 0 0 2px var(--primary-cyan);
          box-shadow: 0 0 0 2px var(--primary-cyan);
}

.section .input-group .logo {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.select-tip .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}

.select-tip .list .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  text-align: center;
  background: var(--dark-cyan);
  color: var(--white);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
}

.select-tip .list .item.selected {
  background: var(--primary-cyan);
  color: var(--dark-cyan);
}

.select-tip .list .item.custom {
  background: var(--gray-cyan-1);
  color: var(--dark-cyan);
  cursor: text;
}

.select-tip .list .item.custom .input {
  font-size: inherit;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  text-align: right;
  font-weight: bold;
  color: var(--dark-cyan);
}

.select-tip .list .item.custom .input::-webkit-input-placeholder {
  color: var(--dark-cyan);
  text-align: center;
}

.select-tip .list .item.custom .input:-ms-input-placeholder {
  color: var(--dark-cyan);
  text-align: center;
}

.select-tip .list .item.custom .input::-ms-input-placeholder {
  color: var(--dark-cyan);
  text-align: center;
}

.select-tip .list .item.custom .input::placeholder {
  color: var(--dark-cyan);
  text-align: center;
}

.select-tip .list .item.custom .input:focus::-webkit-input-placeholder {
  color: transparent;
}

.select-tip .list .item.custom .input:focus:-ms-input-placeholder {
  color: transparent;
}

.select-tip .list .item.custom .input:focus::-ms-input-placeholder {
  color: transparent;
}

.select-tip .list .item.custom .input:focus::placeholder {
  color: transparent;
}

.select-tip .list .item.custom:focus-within {
  -webkit-box-shadow: 0 0 0 2px var(--primary-cyan);
          box-shadow: 0 0 0 2px var(--primary-cyan);
}

.select-tip .list .item:not(.custom):not(.selected):hover {
  background: var(--gray-cyan-2);
  color: var(--dark-cyan);
}

.result {
  background: var(--dark-cyan);
  padding: 24px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) {
  .result {
    padding: 40px;
  }
}

.result .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.result .item .label .main {
  color: var(--gray-cyan-1);
  font-size: 16px;
}

@media (min-width: 1024px) {
  .result .item .label .main {
    font-size: 20px;
  }
}

.result .item .label .description {
  color: var(--gray-cyan-3);
  font-weight: bold;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .result .item .label .description {
    font-size: 15px;
  }
}

.result .item .amount {
  margin-left: auto;
  color: var(--primary-cyan);
  font-size: 32px;
}

@media (min-width: 1024px) {
  .result .item .amount {
    font-size: 50px;
  }
}

.result .btn-reset {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: var(--primary-cyan);
  color: var(--dark-cyan);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px;
  margin-top: auto;
}

.result .btn-reset:hover {
  background: var(--gray-cyan-2);
}
/*# sourceMappingURL=style.css.map */